POSTGRES_USER=piltover
POSTGRES_PASSWORD=piltover
POSTGRES_DB=piltover
POSTGRES_PORT=5432

# Optional UI (enable via: docker compose --profile ui up)
PGADMIN_EMAIL=admin@piltover.local
PGADMIN_PASSWORD=admin
PGADMIN_PORT=5050
